* {
    background-color: #f4f4f4;
    font-family: monospace;
}


h1 {
    text-align: center;
    font-weight: bold;
}

.img,
.lis {
    text-align: center;
}

.lis ul{
    list-style: none;
}

.lis li{
    padding: 5px;
    margin: auto;
}

button {
    background-color: beige;
    color: black;
}
